* {
  margin: 0;
  padding: 0;

  line-height: 1.5;
}

:root {
  --bg-color: #010409;
}

body {
  background-color: var(--bg-color);
}

header {
  display: flex;
  justify-content: center;

  height: 20%;
  border-bottom: ridge 2px silver;
  padding: 10px;

  color: silver;
  font-size: 2.5em;
  font-family: "helvetica_neuelight", Verdana, sans-serif;
}

main {
  color: white;
  font-family: "Segoe UI", sans-serif;
}

@font-face {
  font-family: "helvetica_neuelight";
  src:
    url("./fonts/helveticaneuelight-webfont..woff2") format("woff2"),
    url("./fonts/helveticaneuelight-webfont..woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
