* {
  margin: 0;
  padding: 0;

  line-height: 1.5;
}

:root {
  --bg-color: #010409;
  --input-color: #0d1117;
  --main-text: #555;
  --second-bg-color: #0d1117;
  --dark-text: #e6edf3;
}

body {
  background-color: var(--bg-color);

  height: 100%;

  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;

  height: 20%;
  padding: 10px;

  color: silver;
  font-size: 2.5em;
  font-family: "helvetica_neuelight", Verdana, sans-serif;
}

main {
  display: flex;
  justify-content: center;
  flex: 1;

  padding: 20px;

  color: var(--main-text);
  font-family: "Segoe UI", Verdana, sans-serif;
  font-weight: 100;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;

  width: 90%;
  max-width: 400px;

  border: 1px ridge silver;
  padding: 20px;
  margin-top: -10px;

  background-color: var(--second-bg-color);
}

.form-row {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  width: 80%;
  max-width: 500px;

  font-size: 1.4em;
}

label {
  display: flex;
  justify-content: space-between;
  padding-right: 2%;

  font-size: 0.9em;
}

img.svg {
  width: 25px;
  filter: invert(22%) sepia(17%) saturate(30%) hue-rotate(314deg)
    brightness(97%) contrast(84%);

  cursor: pointer;
}

input,
select {
  width: 100%;

  padding: 3px 5px;
  border: 1px ridge rgb(100, 100, 100);

  background-color: var(--input-color);
}

select {
  appearance: none;
  background: url("./fonts/arrow-204-16..png") no-repeat right;
  background-position-x: calc(100% - 5px);
}

#submit {
  justify-content: center;

  margin-top: 15px;
  padding: 5px;
  border: 1px ridge silver;

  font-size: 0.9em;

  background-color: var(--main-text);
  color: var(--bg-color);

  cursor: pointer;
}

@font-face {
  font-family: "helvetica_neuelight";
  src:
    url("./fonts/helveticaneuelight-webfont..woff2") format("woff2"),
    url("./fonts/helveticaneuelight-webfont..woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
